# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db

# Test files & logs
hasil_*.json
k6_results/
*.log
nohup.out